:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #181825;
  --color-bg-base: #1E1E2E;
  --color-bg-surface: #242437;
  --color-bg-highlight: #2A2A40;
  --color-fg-shade: #CCCCCC;
  --color-fg-base: #FFFFFF;
  --color-fg-surface: #cdd6f4;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #30085F;
  --color-primary-base: #6011BD;
  --color-primary-fg: #9447EE;
  --color-secondary-bg: #5F1048;
  --color-secondary-base: #BD1F91;
  --color-secondary-fg: #E664C2;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Quicksand;
  --font-size: 1.1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1200px;
  --surface-shadow: 6px 6px 1px rgb(48, 8, 95), 12px 12px 1px rgb(52.7, 8.8, 92.7), 18px 18px 1px rgb(57.4, 9.6, 90.4), 24px 24px 1px rgb(62.1, 10.4, 88.1), 30px 30px 1px rgb(66.8, 11.2, 85.8), 36px 36px 1px rgb(71.5, 12, 83.5), 42px 42px 1px rgb(76.2, 12.8, 81.2), 48px 48px 1px rgb(80.9, 13.600000000000001, 78.9), 54px 54px 1px rgb(85.6, 14.4, 76.6), 60px 60px 1px rgb(90.30000000000001, 15.2, 74.3), 66px 66px 1px rgb(95, 16, 72);
  --surface-borderRadius: 20px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 3;
}
